<nav class="navbar bg-light px-3 d-flex justify-content-between">
  <a href="#" class="navbar-brand">
    <i class="fa-solid fa-ticket"></i>
  </a>

  <div>
    <a href="#" class="nav-link d-inline-block">My Lists</a>
    <a href="#" class="nav-link d-inline-block">New List</a>
  </div>
</nav>
