<%= render :partial => "shared/navbar" %>
<div class="container">

  <div class="row d-flex align-items-center justify-content-between">

    <div class="col-6">
      <h2>My Lists</h2>
    </div>

    <div class="col-6 text-end">
      <button type="button" class="button"><%= link_to "Add New List", new_list_path %></button>
    </div>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
      <div class="card text-center list-card">
        <div class="card-body custom-center">
          <h5><%= link_to list.name, list_path(list) %></h5>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
