<nav class="navbar bg-light px-3 d-flex justify-content-between">
  <a href="#" class="navbar-brand">
    <i class="fa-solid fa-ticket"></i>
  </a>

  <div>
    <a href="#" class="nav-link d-inline-block"><%= link_to "My Lists", lists_path %></a>
    <a href="#" class="nav-link d-inline-block"><%= link_to "New List", new_list_path %></a>
  </div>
</nav>
