<nav class="navbar px-3 d-flex justify-content-between">
  <a href="#" class="navbar-brand">
    <i class="fa-solid fa-ticket"></i>
  </a>

  <div>
    <%= link_to "My Lists", lists_path, class: "nav-link d-inline-block" %>
    <%= link_to "New List", new_list_path, class: "nav-link d-inline-block" %>
  </div>
</nav>
