.movie-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  img {
    object-fit: cover;
    object-position: 0px 28%;
    height: 200px;
    width: 100%;
  }
  h5 {
    font-weight: bolder;
  }
}
