.simple_form {
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px; /* Fixed width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 300px;
  h1 {
    text-align: center;
  }
}
